[Unit]
Description=Tomcat
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment="JAVA_HOME={{ JAVA_HOME }}"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE={{ tomcat_installation_path }}"
Environment="CATALINA_HOME={{ tomcat_installation_path }}"
Environment="CATALINA_PID={{ tomcat_installation_path }}/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart="{{ tomcat_installation_path }}/bin/startup.sh"
ExecStop="{{ tomcat_installation_path }}/bin/shutdown.sh"

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
